/.phpunit.cache
/phpunit.xml
/node_modules
/public/build
/public/hot
/public/assets/imagens_top100
/public/storage
/storage/*.key
/storage/debugbar
/storage/logs
/vendor
/tests
.env
.env.backup
.env.production
.phpunit.result.cache
.htaccess
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
bootstrap/compiled.php
app/storage/
public_html/storage
public_html/hot
/.vagrant
/public
ads.txt