<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^(.*)$ public/$1 [L]
  
  #order deny,allow
  #deny from all

</IfModule>


# DO NOT REMOVE THIS LINE AND THE LINES BELOW HOTLINKID:m0ysIZDMuF
RewriteEngine on
RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?top100filmes.com.br/.*$      [NC]
RewriteRule .*\.(php|htm)$ https://www.top100filmes.com.br [R,NC]
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE m0ysIZDMuF:HOTLINKID

