// text colors
$primaryTextColor: #EED63B;
$secondaryTextColor: rgb(126, 17, 17);
// $tertiaryTextColor: #faebd7;
$tertiaryTextColor: white;


//text shadow colors
$textShadowblack: 1px 1px 2px black;

// elements and components colors
$navbarColor: black;
$buttonBackgroundColor: #6387CF;

//links colors
$linksPrimaryColor: rgb(156 163 175);
$linksSecondaryColor: white;

//default colors
$defaultRed: #AD2C2B;
$defaultError: rgb(252, 63, 63);
$defaultSucess: rgb(54, 196, 54);
$backgroundColor: #0f1819;

//special events colors
$halloweenBackground: #000000;
$halloweenSecondaryBackground: rgb(25, 2, 46);

$purple: rgb(92, 6, 92);

//christmas
$christmasBackground: linear-gradient(0deg, rgba(41, 188, 240, 1) 0%, rgba(136, 136, 255, 1) 28%, rgba(0, 0, 0, 1) 93%);
$christmasBackgroundBase: rgb(41, 188, 240);