@import "./_fonts";
@import "./_special-classes";
@import "./_variables";

yellow {
    color: $primaryTextColor;
}

// #disqus_thread {
//     margin-top: 2rem;
//     width: 60vw;
//     align-self: center;
// }

.container-superior {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    position: relative;


    .container-principal {
        width: 68vw;
        display: flex;
        flex-direction: column;
        font-family: 'Roboto', sans-serif;
        margin-top: 2rem;

        .capa-artigo {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            overflow: hidden;

            img {
                width: 720px;
                height: 405px;
                align-self: center;
            }

            .atribuicao {
                padding: 0;
                font-size: 12px;
                text-align: left;
            }
        }


        .titulo-e-subtitulo {
            display: flex;
            flex-direction: column;
            width: 80%;
            align-self: center;

            .data-postagem {
                text-align: center;
                padding: 0;
                margin: 0;
                font-size: 0.8rem;
            }

            h1 {
                padding: 1rem 1rem 0 1rem;
                font-family: 'Roboto', sans-serif;
                margin-bottom: 0;
                margin-top: 2rem;
                text-align: center;
            }

            h2 {
                font-family: 'Roboto', sans-serif;
                font-size: 1.2rem;
                padding: 1rem;
                color: $primaryTextColor;
                text-align: center;
            }
        }

        .texto-artigo {
            display: flex;
            width: 95%;
            font-family: 'Roboto', sans-serif;
            flex-direction: column;
            padding: 2rem 0;
            align-self: center;
            color: white;

            h3 {
                text-align: left;
                padding: 4rem 0 1rem 0;
            }

            h4 {
                color: $tertiaryTextColor;
            }

            p {
                font-family: 'Roboto', sans-serif;
                padding: 0;
                margin: 0;
                color: white;
            }
        }

        .imagem-1 {
            width: 20%;
            margin: auto;

            img {
                width: 100%;
                height: 100%;
            }

            p {
                padding: 0;
                font-size: 12px;
            }
        }

        .container-trailer {
            margin: 2rem auto;
        }
    }
}


// xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxResponsivoxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
@media screen and (max-width: 900px) {

    // #disqus_thread {
    //     width: 93vw;
    // }

    .container-superior {
        display: flex;
        flex-direction: column;

        .container-principal {
            display: flex;
            flex-direction: column;
            width: 100%;

            .capa-artigo {
                margin: 0 auto;
                width: 90%;

                img {
                    width: 405px;
                    height: auto;
                }

            }

            .titulo-e-subtitulo {
                margin-top: 3rem;
                width: 90%;

                h1 {
                    padding: 1rem;
                    margin-top: 1rem;
                }

                h2 {
                    padding: 1rem;
                }

            }

            .texto-artigo {
                padding: 1rem;
                width: 100%;
            }

            .imagem-1 {
                width: 50%;
            }

            .container-trailer {
                width: 95vw;

                iframe {
                    width: 100%;
                }
            }
        }

    }
}