@import './_fonts';
@import './_variables';


@keyframes boing {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.08;
    }

    100% {
        scale: 1;
    }
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: flex;
}

[data-content-frame] {
    display: none;
}


.avançar,
.voltar {
    display: none;
    color: rgba(255, 255, 255, 0.3);
    position: absolute;
    width: fit-content;
    padding: 0 0.5rem;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    background-color: rgba(0, 0, 0, 0.5);

    &:hover {
        cursor: pointer;
    }
}

.showing {
    display: flex;
}

.avançar {
    right: 0;
    border-radius: 0 8px 8px 0;
}

.voltar {
    left: 0;
    border-radius: 8px 0 0 8px;
}

#container {
    height: fit-content;
    text-align: left;
}

.principal {
    .area-inicial_div {
        .area-inicial {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 0;
            min-height: 100vh;
            // background: $backgroundColor;
            text-align: left;
        }
    }
}

.informacoes-filme {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    // min-height: 100vh;
    min-height: fit-content;
    height: auto;
    box-sizing: border-box;
    padding-bottom: 0;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: scroll;
    width: 100%;
    margin: 0 auto;
    // background-color: $backgroundColor;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: left;


    .div-poster-filme {
        height: auto;
        background-repeat: repeat-x;
        background-size: contain;
        border-radius: 5px;


        .div-fundo-preto {
            // background-color: rgba(0, 0, 0, 0.8);
            box-sizing: border-box;
            padding: 0 0 3rem 0;
            height: 100%;
            width: 100%;
            border: 2px solid rgba(0, 0, 0, 0);
            border-radius: 5px;

            .div-trailer {

                width: 98vw;
                display: flex;
                flex-direction: column;
                height: 65vh;
                align-items: center;
                gap: 2rem;

                .tabs {
                    display: flex;
                    flex-direction: row;
                    // color: rgb(244, 245, 240);
                    border-radius: 0 0 8px 8px;
                    height: 10vh;
                    width: fit-content;
                    align-self: center;
                    border-bottom: 1px solid silver;
                    // background: rgb(223, 223, 230);
                    // background: linear-gradient(41deg, rgba(223, 223, 230, 1) 0%, rgba(183, 186, 187, 1) 15%, rgba(87, 85, 85, 1) 100%);

                    background-color: rgb(63, 62, 62);
                    box-shadow: 2px 2px 2px black;

                    color: white;
                    text-shadow: 0 1px 1px $defaultRed;

                    .active {
                        // color: $primaryTextColor;
                        font-size: 1rem;
                        // text-shadow: 1px 1px 1px red;

                        // background-color: rgb(255, 255, 255);
                        // border-right: 3px solid gray;
                        border-right: 3px solid black;

                        border-radius: 0 0 8px 8px;


                        animation: boing 0.4s linear;
                        background-color: rgba($color: #ffffff, $alpha: 0.6);
                        // color: white;
                        color: $primaryTextColor;


                    }

                    li {
                        display: flex;
                        // border-right: 3px solid gray;
                        width: 12rem;
                        border-radius: 0 0 8px 0px;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                        padding: 0;
                        margin: 0;

                        &:hover {
                            cursor: pointer;
                        }

                        span {
                            padding: 0.5rem;
                            // text-shadow: 1px -2px 1px black;

                        }
                    }
                }

                .tab-content {
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;

                    .frame-video {
                        display: none;
                        border: 5px solid silver;
                        border-radius: 8px;
                        box-shadow: 2px 2px 10px black;
                        width: 27vw;
                        height: 15vw;
                    }

                    #trailers,
                    #outros-videos,
                    #onde-assistir {

                        position: relative;
                        flex-direction: row;
                        flex-wrap: wrap;
                        gap: 1rem;


                    }

                    #onde-assistir {
                        flex-direction: column;

                        .providers {
                            display: flex;
                            flex-direction: row;
                            gap: 1rem;
                            flex-wrap: wrap;

                            .provider-container {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                width: 5vw;
                                text-wrap: wrap;

                                img {
                                    width: 5vw;
                                    height: 5vw;
                                    overflow: hidden;
                                }

                                span {
                                    color: white;
                                    font-size: 0.8rem;
                                }
                            }
                        }

                        span {
                            color: white;
                            font-size: 0.8rem;
                        }
                    }

                }
            }

            h2 {
                padding-top: 3rem;
                font-size: 1.8rem;
                line-height: 2rem;
            }

            .div-ranking-e-nota {
                position: relative;

                h1 {
                    color: white;
                    margin-top: 2rem;
                    margin-bottom: 0;
                }

                h2,
                h3 {
                    margin-top: 0;
                    margin-bottom: 1rem;

                }

                .botao-adiciona-filme-na-lista {
                    position: absolute;
                    top: 0;
                    right: 0;
                    border: none;
                    width: fit-content;
                    border-radius: 50%;
                    z-index: 999;
                }
            }

            .div-resumo {
                padding: 0.8rem;
                text-align: left;
                margin-bottom: 5rem;

                span {
                    color: white;
                }

                .resumo {
                    color: white;
                    text-align: left;
                    margin-top: 1rem;

                    p {
                        text-align: left;
                        color: white;
                    }

                }

                .link-resumo {
                    color: $tertiaryTextColor;
                }

                p {
                    font-size: 1.2rem;
                    line-height: 1.5rem;
                }
            }
        }
    }

}

.titulo-elenco {
    padding-top: 4rem;
    background-color: rgba(0, 0, 0, 0.6);
    padding-bottom: 1rem;
}

.elenco {
    align-self: center;
    margin: auto;
    margin-top: 0;
    // background-color: rgba(63, 62, 62, 0.7);
    background-color: rgba(63, 62, 62, 1);

    display: grid;
    width: 99.9%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    border-radius: 5px;

    a {
        color: $tertiaryTextColor;
    }

    .ator {
        display: flex;
        align-items: center;
        flex-direction: row;
        border: 0.5px solid silver;
        height: 6rem;


        .nome-ator-e-personagem {
            width: 80%;
            display: flex;
            text-align: left;
            padding: 0.5rem;


            p {
                text-align: left;
                padding: 1rem;
                margin: 0 1rem;
                font-size: 1rem;
                flex-shrink: 1;
            }
        }

        .foto-ator {
            box-sizing: border-box;
            width: 75px;
            padding: 0;
            height: 100%;

            img {
                width: 75px;
                height: 100%;
                border-radius: 0;
            }
        }
    }
}


// **************************************Aqui começa o responsivo**************************************
// **************************************Aqui começa o responsivo**************************************
// **************************************Aqui começa o responsivo**************************************


@media screen and (max-width: 900px) {
    .informacoes-filme {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        height: auto;
        width: 100%;
        overflow-x: hidden;
        box-sizing: border-box;


        .div-poster-filme {
            height: fit-content;
            background-attachment: scroll;
            background-size: cover;
            background-position: center;

            .div-fundo-preto {
                height: fit-content;
                padding: 0 0 3rem 0;

                h2 {
                    padding: 3rem 0 1.5rem 0;
                }

                .div-ranking-e-nota {
                    padding: 0 0.8rem 0.5rem 0.8rem;
                    height: fit-content;
                    position: relative;

                    .botao-adiciona-filme-na-lista {
                        position: absolute;
                        top: 0;
                        right: 1%;
                        border: none;
                        width: fit-content;
                        border-radius: 50%;
                        z-index: 999;
                    }
                }

                .div-resumo {
                    padding: 0.3rem 0.8rem;
                    height: fit-content;

                    p {
                        padding: 0.4rem;
                        text-align: center;
                        word-spacing: 0.3rem;
                        text-indent: 0;
                    }
                }

                .div-trailer {
                    padding: 0;
                    width: 100%;
                    height: 50vh;
                    margin: 1.7rem auto;

                    .tabs {
                        width: 100%;
                        height: 8vh;

                    }

                    .tab-content {
                        height: fit-content;

                        #trailers,
                        #outros-videos {
                            margin-top: 2rem;
                            width: 100%;
                        }

                        #onde-assistir {

                            .providers {

                                .provider-container {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    width: 12vw;
                                    text-wrap: wrap;

                                    img {
                                        width: 12vw;
                                        height: 12vw;
                                        overflow: hidden;
                                    }

                                    span {
                                        color: white;
                                        font-size: 0.8rem;
                                    }
                                }
                            }

                            span {
                                color: white;
                                font-size: 0.8rem;
                            }
                        }

                        .frame-video {
                            width: 99vw;
                            height: 30vh;
                        }

                    }


                }

            }
        }

    }

    .elenco {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        box-sizing: border-box;
        padding: 0.4rem;

        .ator {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            border: 0.4px solid silver;
            width: 100%;
            height: 6rem;

            .nome-ator-e-personagem {
                width: 80%;
                display: flex;
                align-items: center;
                align-self: center;

                p {
                    text-align: left;
                    padding: 0.7rem;
                    margin: 0;
                    font-size: 1rem;
                    flex-shrink: 1;
                    text-indent: 0;
                }
            }

            .foto-ator {
                box-sizing: border-box;
                width: 75px;
                padding: 0;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 0;
                }
            }
        }
    }

}