@charset "UTF-8";
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-display: swap;
}
html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.55rem;
}

h4 {
  font-size: 1.35rem;
}

h5 {
  font-size: 1.15rem;
}

h6 {
  font-size: 0.8rem;
}

p {
  font-size: 1rem;
  line-height: 1.8rem;
  text-indent: 0;
}

a {
  font-size: 1rem;
}

@media screen and (max-width: 900px) {
  html {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
  }
  h1 {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
  h2 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin: 0;
    padding: 0 0.2rem;
  }
  h3 {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  h4 {
    font-size: 1rem;
  }
  h5 {
    font-size: 0.75rem;
  }
  h6 {
    font-size: 0.5rem;
  }
  p {
    font-size: 1rem;
    text-indent: 0;
  }
  a {
    font-size: 1rem;
  }
}
.propaganda {
  display: none;
}

.area-inicial {
  width: auto;
  margin-bottom: 10vh;
}
.area-inicial .grid-top-100 {
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 0;
  margin-top: 2rem;
  width: 100%;
}
.area-inicial .grid-top-100 .conteudo-top-100 {
  width: 70%;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.area-inicial .grid-top-100 .conteudo-top-100 .textos-intro-top-100 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.8rem;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 6rem;
}
.area-inicial .grid-top-100 .conteudo-top-100 .textos-intro-top-100 p,
.area-inicial .grid-top-100 .conteudo-top-100 .textos-intro-top-100 h1,
.area-inicial .grid-top-100 .conteudo-top-100 .textos-intro-top-100 h2,
.area-inicial .grid-top-100 .conteudo-top-100 .textos-intro-top-100 h3 {
  text-align: center;
}
.area-inicial .grid-top-100 .conteudo-top-100 .textos-intro-top-100 h1 {
  font-weight: bold;
}
.area-inicial .grid-top-100 .conteudo-top-100 .card-salvar-alterações {
  display: none;
  font-size: 0.8rem;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  align-items: center;
  position: fixed;
  bottom: 2%;
  left: 22%;
  z-index: 999;
  padding: 1rem;
}
.area-inicial .grid-top-100 .conteudo-top-100 .card-salvar-alterações .sucesso {
  color: rgb(22, 158, 22);
}
.area-inicial .grid-top-100 .conteudo-top-100 .card-salvar-alterações .erro {
  color: red;
}
.area-inicial .grid-top-100 .conteudo-top-100 .card-salvar-alterações .disabled {
  background-color: gray;
  color: silver;
  box-shadow: inset 2px 2px 5px black;
}
.area-inicial .grid-top-100 .conteudo-top-100 .card-salvar-alterações .disabled:hover {
  cursor: not-allowed;
}
.area-inicial .grid-top-100 .conteudo-top-100 .card-salvar-alterações .disabled:active {
  box-shadow: inset 2px 2px 5px black;
}
.area-inicial .grid-top-100 .conteudo-top-100 .card-salvar-alterações p {
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 0;
}
.area-inicial .grid-top-100 .conteudo-top-100 .card-salvar-alterações button {
  background-color: #EED63B;
  border-radius: 5px;
  color: black;
  width: 80%;
  height: 1.8rem;
  margin: 0;
}
.area-inicial .grid-top-100 .conteudo-top-100 .card-salvar-alterações button:active {
  box-shadow: inset 5px 5px 10px black;
}
.area-inicial .grid-top-100 .conteudo-top-100 .item-visible {
  opacity: 1;
  transform: scale(1);
}

@media screen and (max-width: 900px) {
  .area-inicial .grid-top-100 {
    display: grid;
    grid-template-columns: 1fr;
  }
  .area-inicial .grid-top-100 .propaganda-telas-grandes {
    display: none;
  }
  .area-inicial .grid-top-100 .conteudo-top-100 {
    width: 99%;
    padding: 0 0.3rem;
  }
  .area-inicial .grid-top-100 .conteudo-top-100 .textos-intro-top-100 {
    box-sizing: border-box;
    text-align: center;
    width: 99%;
  }
  .area-inicial .grid-top-100 .conteudo-top-100 .textos-intro-top-100 h1,
  .area-inicial .grid-top-100 .conteudo-top-100 .textos-intro-top-100 h2,
  .area-inicial .grid-top-100 .conteudo-top-100 .textos-intro-top-100 p {
    text-align: center;
  }
  .area-inicial .grid-top-100 .conteudo-top-100 .textos-intro-top-100 p {
    text-indent: 0;
  }
  .area-inicial .grid-top-100 .conteudo-top-100 .item-visible {
    opacity: 1;
    transform: scale(1);
  }
  .area-inicial .grid-top-100 .conteudo-top-100 p {
    padding: 0.7rem;
    text-align: left;
    font-size: 1.2rem;
  }
  .propaganda {
    display: block;
    height: 170px;
  }
}/*# sourceMappingURL=top100.css.map */